<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belajar Jadi Full Stack Develover</title>
</head>
<body>
    
    <form method="post" action="/Root">
        <label for="nama">Nama:</label><br>
        <input type="text" id="nama" name=nama""><br>
        <label for="nim">Nim:</label><br>
        <input type="text" id=nim name="nama">
    </form>
    
    <p>Nama: {{mahasiswa.nama}}</p>
    <p>Nim: {{mahasiswa.nim}}</p>

</body>
</html>